<% content_for :title, "New llm config" %>

<h1 class="title">New llm config</h1>

<%= render "form", llm_config: @llm_config %>

<br>

<div>
  <%= link_to "Back to llm configs", llm_configs_path %>
</div>
